body {
  font-family: sans-serif;
}

#main_content {
  width:800px;
  margin:0 auto;
}

header {
  text-align: center;
}

.team {
  width: 50%;
  height: 200px;
  float: left;
}

.team1 {
  background-color: gray;
}

.team2 {
  background-color: gray;
}
